@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F9F7F0;
}

h1 {
  font-size: 30px;
}

.hero-img {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bg-main {
  background-color: #072a40 !important;
}

.copyright {
  font-size: 14px;
  margin-bottom: 0;
}

footer {
  background-color: #072a40;
}

.color-icon {
  color: #178ca4;
}


/* PLASTIC FACTS PAGE STYLES */

.fact-number {
  font-size: 30rem;
  color: #bababa;
}

.fact-svg {
  max-width: 600px;
}

.pie-chart {
max-width:400px;
}

.fact-img {
border-radius: 50%;
max-width:400px
}

.small-svg {
max-width: 350px;
}

/*  QUIZ PAGE STYLES */

.hidden {
  display: none;
}

.btn {
  margin-top: 20px;
  border-radius: 100px;
  background-color: #18b7be;
  border-color: #18b7be;
}

.btn:hover {
  background-color: #072a40;
  border-color: #072a40;
}


.quiz-box {
  margin-top: 20px;
  padding: 40px;
  width: 90%;
  border-radius: 10px;
  box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
}

form {
  display: inline-block;
  text-align: left;
  margin: auto;
}