{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<section class="container-fluid min-vh-100 bg-index">
    <h1 class="text-end text-light fw-bold" id="slogan">
        Plastics still polluting our planet slowly.
    </h1>
</section>
<section class="container-fluid min-vh-100">
    <p>
        Plastics also affect ecosystems that we rely on to provide food.
        We all need to find a solution to reduce our reliance on plastics in our daily life.
        If we can't avoid using plastic, we have to find a way to recycle it or dispose of it well so that it doesn't
        harm
        the planet.
    </p>
</section>
<section class="container-fluid min-vh-100">
    <p>
        Take a look around for some ideas on how archive our goal,
        and maybe think about pledging to reduce your use of plastic.
        You can take a quiz on your use of plastic after looking at some facts about the use of plastic on the planet.
        This application was inspired by Earth day 2022 to help others.
        The application was created by six coders during the Code Institute April hackathon. They are concerned about
        the
        use
        and misuse of plastic on our planet.
    </p>
</section>
{% endblock%}