{% extends "base.html" %}
{% set active_page = "Pledges" %}
{% set hero_title = "Plastics Pledge" %}
{% block content %}

<div class="text-center">

	{% if pledgesresult %}
	<h2>You've chosen some great pledges!</h2>
	<p>Your pledges to reduce/recycle your use of plastic are:</p>
	{%for each in pledgesresult%}
	<h5>
		<p> * {{each}}</p>
	</h5>

	{%endfor%}

	{% endif %}


	<!--Select items to pledge for this week.-->
	<div class="text-center">
		<h2>Select your pledge actions from the following items.</h2>
		<h4>Press Enter Pledges to see your pledges.</h4>
	</div>

</div>

<br>

<div class="container quiz-box text-center">
	<form id="pledges-form" action="{{url_for('pledges')}}" method="POST">
		<fieldset class="checkbox">
			<legend class="text-center">Make your plastic Pledges for this week!</legend>

			<input class="form-check-input" type="checkbox" id="pledge1" name="pledges"
				value="Avoid using single use plastics like straws">
			<label class="form-check-label" for="pledge1">Avoid using single use plastics like straws</label><br>

			<input class="form-check-input" type="checkbox" id="pledge2" name="pledges"
				value="Take a clothbag shopping with you">
			<label class="form-check-label" for="pledge2">Take a clothbag shopping with you</label><br>

			<input class="form-check-input" type="checkbox" id="pledge3" name="pledges"
				value="Recycle chewing gum when I can!">
			<label class="form-check-label" for="pledge3">Recycle chewing gum when I can!</label><br>

			<input class="form-check-input" type="checkbox" id="pledge4" name="pledges" value="Buy more unpackaged food with no plastic
			wrapping.">
			<label class="form-check-label" for="pledge4">Buy more unpackaged food with no plastic
				wrapping.</label><br>

			<input class="form-check-input" type="checkbox" id="pledge5" name="pledges" value="Use glass or steel containers instead of plastic
			containers.">
			<label class="form-check-label" for="pledge5">Use glass or steel containers instead of plastic
				containers.</label><br>

			<input class="form-check-input" type="checkbox" id="pledge6" name="pledges"
				value="Use wooden clothes pegs instead of plastic ones.">
			<label class="form-check-label" for="pledge6">Use wooden clothes pegs instead of plastic ones.</label><br>

			<input class="form-check-input" type="checkbox" id="pledge7" name="pledges" value="Make those around you aware of importance of reducing plastic
			consumption.">
			<label class="form-check-label" for="pledge7">Make those around you aware of importance of reducing plastic
				consumption.</label><br>

			<input class="form-check-input" type="checkbox" id="pledge8" name="pledges"
				value="Put plastic waste in correct recycling container.">
			<label class="form-check-label" for="pledge8">Put plastic waste in correct recycling container.</label><br>

			<input class="form-check-input" type="checkbox" id="pledge9" name="pledges"
				value="Avoid cosmetics that use micro-plastics.">
			<label class="form-check-label" for="pledge9">Avoid cosmetics that use micro-plastics.</label><br>

			<input class="form-check-input" type="checkbox" id="pledge10" name="pledges"
				value="Buy a biodegradable hair brush.">
			<label class="form-check-label" for="pledge10">Buy a biodegradable hair brush.</label><br>

			<input class="form-check-input" type="checkbox" id="pledge11" name="pledges" value="Email you local MP to endorse anti-plastic
			legislation">
			<label class="form-check-label" for="pledge11">Email you local MP to endorse anti-plastic
				legislation</label><br>

			<input class="form-check-input" type="checkbox" id="pledge12" name="pledges" value="Download the Refill App to find your nearest refill point and
				use it">
			<label class="form-check-label" for="pledge12">Download the Refill App to find your nearest refill point and
				use it</label><br>

			<input class="form-check-input" type="checkbox" id="pledge13" name="pledges"
				value="Shop at your nearest zero-waste supermarket">
			<label class="form-check-label" for="pledge13">Shop at your nearest zero-waste supermarket</label><br>

			<input class="form-check-input" type="checkbox" id="pledge14" name="pledges" value="Reuse broken or damaged items at your nearest repair
				cafe">
			<label class="form-check-label" for="pledge14">Reuse broken or damaged items at your nearest repair
				cafe</label><br>

			<input class="form-check-input" type="checkbox" id="pledge15" name="pledges" value="List your unwanted items on Freecycle to find a better
				home">
			<label class="form-check-label" for="pledge15">List your unwanted items on Freecycle to find a better
				home</label><br>

			<br>
		</fieldset>
	</form>
	<button type="submit" form="pledges-form" class="btn btn-primary btn-block btn-lg">Enter Your Pledges</button>
</div>
<!--END FORM-->

{% endblock %}