{% extends "base.html" %}
{% set active_page = "quiz" %}

{% block content %}
<!-- Main Page -->
<div class="container">
    <div class="row text-center justify-content-center align-items-center">
        <div class="quiz-box">
            <!-- Home Content-->
            <section id="home-page">
                <h1>Plastic Quiz</h1>
                <h2>Test your recycling knowledge with this multiple choice quiz!</h2>

                <button id="start-quiz-btn" class="btn btn-lg btn-primary btn-block">Start Quiz</button>
            </section>

            <!--- Quiz Content -->
            <section id="quiz-page" class="hidden">
                <h2 id="current-question"></h2>
                <form id="quiz-answer-options">
                    <fieldset id="answer-options">
                        <!-- Empty list to be populated by question options in Javascript -->
                    </fieldset>
                </form>
                <button type="submit" form='quiz-answer-options' id="btn-submit"
                    class="btn btn-primary btn-block">Submit</button>
                <div id="start-again-btn-div">
                    <button id="start-again-btn" class="btn btn-primary btn-block">Start Again</button>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock%}

{% block scripts %}
<script src="{{url_for('static', filename='js/quiz.js')}}"></script>
{% endblock %}