{% extends "base.html" %}
{% set active_page = "stories" %}
{% set hero_title = "Success Stories" %}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <p class="card-text fs-5">The plastic pollution problems facing the world can seem overwhelming, but
                        there are reasons to be positive, too. </p>
                    <p class="card-text fs-5">On this page we shout out people and teams who are taking on the issues
                        and making a positive difference.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="mb-3"><span class="fw-bold">The Ocean Cleanup</span> is taking on ocean pollution
                            </h2>
                            <p class="card-text fs-5">A non-profit foundation created in 2013, The Ocean Cleanup is
                                designing and deploying innovative solutions to rid the world's oceans of plastic.
                            </p>
                            <p class="card-text fs-5">They're aiming to stem the flow of plastics into the ocean from
                                rivers and to remove 90%
                                of the plastic floating on the ocean's surface by 2040.
                            </p>
                        </div>
                        <div class="col-md-6 mt-2 mt-md-5 mt-xl-0 order-md-first">
                            <iframe class="video" src="https://www.youtube.com/embed/Pv1Otdg4fok" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-start">
                    <small class="text-muted">Source: <a href="https://theoceancleanup.com/" target="_blank">The Ocean
                            Cleanup</a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="mb-3"><span class="fw-bold">Fungus and bacteria</span> could help deal with
                                hard-to-recycle
                                plastics</h2>
                            <p class="card-text fs-5">A bio-manufacturing company called Biohm is studying fungi that
                                can break down PET plastics, which are often single-use and hard to recycle. The company
                                discovered a strain of fungus that could consume plastic by accident when it escaped its
                                jar by eating its way through the plastic seal.
                            </p>
                            <p class="card-text fs-5">Some scientists believe that it could be possible to develop fungi
                                and bacteria that not only consume plastics, but turn them into useful products like
                                food
                                or antibiotics.</p>
                        </div>
                        <div class="col-md-6 mt-2 mt-md-5 mt-xl-0">
                            <iframe class="video" src="https://www.youtube.com/embed/30JQjfVk1RY" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-start">
                    <small class="text-muted">Source: <a href="https://www.bbc.co.uk/news/business-57733178"
                            target="_blank">BBC</a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="mb-3"><span class="fw-bold">Soluble and edible seaweed</span> could replace
                                plastic packaging</h2>
                            <p class="card-text fs-5">An Indonesian company called Evoware is developing an alternative
                                to plastic packaging made from seaweed. The product they're developing dissolves quickly
                                in water and can even be eaten.
                            </p>
                            <p class="card-text fs-5">Plastic packaging accounts for 141 million tonnes of plastic
                                waste per year, so creating sustainable alternatives could prevent a huge amount of
                                waste.
                            </p>
                        </div>
                        <div class="col-md-6 mt-2 mt-md-5 mt-xl-0 order-md-first">
                            <iframe class="video" src="https://www.youtube.com/embed/kJgTuPBtslk" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-start">
                    <small class="text-muted">Source: <a href="https://rethink-plastic.com/"
                            target="_blank">Evoware</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}