{% extends 'base.html' %}
{% set hero_title = "Your Pledges" %}
{% block title %}
Your Pledges - Healthy Planet
{% endblock %}
{% block content %}

	{% if pledgesresult %}
	<div class="container quiz-box">
		<h2 class="text-center"> Your Pledges Are:</h2>
		<ol class="list-group list-group-numbered">
			{% for each in pledgesresult %}
			<li class="list-group-item list-group-item-success list-group-item-action">{{each}}</li>
			{%endfor%}
		</ol>
	</div>
	{% endif %}

<div class="container">
	<h2>To get an email containing these pledges please enter your name and email address below</h2>
	<form action="#", method="POST">
		<label for="fname">First name:</label><br>
		<input type="text" id="fname" name="fname" placeholder="first name"><br>
		<label for="email">email:</label><br>
		<input type="text" id="email" name="email" placeholder="your email"><br><br>
		<input type="submit" value="Submit">
	</form> 
	<br><br>
</div>

{% endblock %}